<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Lista de Usuários</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header class="navbar">
        <div class="container-header">
            <div class="logo">
                <a href="{{ url_for('home.home') }}"><img src="https://front-nairim-holding.vercel.app/logo.svg"
                        alt="logo nairim holding" /></a>
            </div>
            <nav class="nav-links">
                <a href="{{ url_for('imoveis.listar_imoveis') }}">Imóveis</a>
                <a href="{{ url_for('proprietarios.listar_proprietarios') }}">Proprietários</a>
                <a href="{{ url_for('imobiliarias.listar_imobiliarias') }}">Imobiliárias</a>
                <a href="{{ url_for('categorias.listar_categorias') }}">Categorias</a>
                <a href="{{ url_for('usuarios.listar_usuarios') }}">Usuários</a>
                <a href="{{ url_for('favoritos.listar_favoritos') }}">Favoritos</a>
                <a href="{{ url_for('visitas.listar_visitas') }}">Visitas</a>
                <a href="{{ url_for('avaliacoes.listar_avaliacoes') }}">Avaliações</a>
                <a href="{{ url_for('reclamacoes.listar_reclamacoes') }}">Reclamações</a>
            </nav>
        </div>
    </header>
    <div class="container">
        <h1>Usuários</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Tipo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.nome }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.tipo }}</td>
                    <td>
                        <a class="btn" href="{{ url_for('usuarios.ver_usuario', id=usuario.id) }}">Ver</a>
                        <a class="btn" href="{{ url_for('usuarios.editar_usuario', id=usuario.id) }}">Editar</a>
                        <a class="btn btn-danger"
                            href="{{ url_for('usuarios.deletar_usuario', id=usuario.id) }}">Deletar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a class="btn-create" href="{{ url_for('usuarios.criar_usuario') }}">Criar Usuario</a>
    </div>
</body>

</html>