<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Criar Imobiliária</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header class="navbar">
        <div class="container-header">
            <div class="logo">
                <a href="{{ url_for('home.home') }}"><img src="https://front-nairim-holding.vercel.app/logo.svg"
                        alt="logo nairim holding" /></a>
            </div>
            <nav class="nav-links">
                <a href="{{ url_for('imoveis.listar_imoveis') }}">Imóveis</a>
                <a href="{{ url_for('proprietarios.listar_proprietarios') }}">Proprietários</a>
                <a href="{{ url_for('imobiliarias.listar_imobiliarias') }}">Imobiliárias</a>
                <a href="{{ url_for('categorias.listar_categorias') }}">Categorias</a>
                <a href="{{ url_for('usuarios.listar_usuarios') }}">Usuários</a>
                <a href="{{ url_for('favoritos.listar_favoritos') }}">Favoritos</a>
                <a href="{{ url_for('visitas.listar_visitas') }}">Visitas</a>
                <a href="{{ url_for('avaliacoes.listar_avaliacoes') }}">Avaliações</a>
                <a href="{{ url_for('reclamacoes.listar_reclamacoes') }}">Reclamações</a>
            </nav>
        </div>
    </header>
    <div class="container">
        <h1>Criar Nova Imobiliária</h1>
        <form method="POST">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required><br><br>

            <label for="telefone">Telefone:</label>
            <input type="text" id="telefone" name="telefone"><br><br>

            <button type="submit">Salvar</button>
        </form>
        <a class="btn-back" href="{{ url_for('imobiliarias.listar_imobiliarias') }}">Voltar</a>
    </div>
</body>

</html>